/* Break Point */
/* PC */
@media (min-width: 1024px){

}

/* Table */
@media (min-width: 768px) and (max-width: 1023px) {
    
}

/* Mobile */
@media (max-width: 767px){

    /* Header */
    .nav>li {
        display:block;
    }

    #header{
        overflow: hidden;
    }

    .search-btn{
        display: none;
    }

    .menu-mobile-btn{
        display:block;
        line-height: 46.5px;
        float:right;
        padding:0 24px;
    }

    .menu-mobile-btn i{
        color:#fff;
    }

    .menu-mobile-btn:hover{
        color:#000;
        background-color: #ccc;
    }

    .menu-mobile-btn:hover #header{
        overflow: visible;
    }


/* Slider */
    #slider h2,
    #slider p{
        display:none;
    }

/* The Band */
    #Theband .member-mobile{
        width: 100%;
        float: none;
    }
/* Tour */
    #Tour .tour-mobile{
        float: none;
        margin-bottom: 16px;
        width: 100%;
    }
/* Contact */
    .contact-mobile{
        float:none;
        width: 100%;
    }

    .content-mobile{
        margin-top: 16px;
        margin-bottom: 8px;
    }
}