/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
                                /* Commom */
html{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    scroll-behavior: smooth;
}

.clear::after{
    content:"";
    clear:both;
    display: block;
}

.btn{
    background-color: #000;
    color: #fff;
    display: inline-block;
    text-decoration: none;
}

.col{
    max-width: 800px;
    font-size: 15px;
    padding: 64px 16px;
    margin-left: auto;
    margin-right: auto;
}

.col-half{
    width: 50%;

}

.col-full{
    width: 100%;

}

.col-three{
    width: 33.33333%;
}

.content-title{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 4px;
    text-align: center;
    margin: 10px 0;
}

.content-slogan{
    font-style: italic;
    text-align: center;
    opacity: 0.6;
    margin: 15px 0;
}

                                /* Commom */



/* Header */
#header{
    position: fixed;
    top:0;
    height: 46.5px;
    background-color: #000;
    width: 100%;
    z-index: 1;
}

.nav,
.search-btn{
    display: inline-block;
    }


/* Navigation: Thanh điều hướng */
li{
    list-style: none;
}

li a{
    text-decoration: none;
    font-size: 15px;
}

.nav>li>a{
    text-transform: uppercase;
    color:#fff;
    line-height: 46.5px;
    display: inline-block;
    padding: 0 24px;
}

.subnav>li>a{
    color:#000;
    padding: 8px 16px;
    display: block;
}

.nav>li{
    display: inline-block;
    position: relative;
}

.subnav{
    position:absolute;
    min-width: 160px;
    background-color: #fff;
    left:0;
    box-shadow: 0 0 10px #000;
    display: none;
}

.nav li:hover .subnav{
    display:block;
}

.subnav li:hover a,
.nav>li:hover >a{
    background-color: #ccc;
    color: #000;
}

/* Search Button */
.search-btn{
    line-height: 46.5px;
    float:right;
    padding:0 24px;
}

.search-btn i{
    color: #fff;
}

.search-btn:hover{
    background-color: #f44336!important;
}

/* Slider: Trình chiều hình ảnh */
/* Fix lỗi ảnh Github: úp ảnh lên Github rồi lấy link ảnh đó chèn vào CSS */
#slider{
    position: relative;
    margin-top: 46.5px;
    padding-top: 50%;
    background: url(https://trinhdang15.github.io/TheBand-F8/assets/img/chicago.jpg) top center / cover no-repeat; 
}

.slider-content{
    color: #fff;
    padding:32px 16px;
    position: absolute;
    transform: translateX(-50%);
    bottom:0;
    left:50%;
}

.slider-content h2{
    font-size: 24px;
    margin: 10px;
    text-align: center;
    font-weight:normal;
}

.slider-content p{
    font-size: 15px;
    margin: 15px;
    text-align: center;
    font-weight: bold;
}
/* Content */

/* The Band */
.theband > p{
    font-size: 14px;
}

#Theband .member-list{
    padding: 32px 0;
}

.member-list .theband-member{
    float:left;
    text-align: center;
}

.theband-member img{
    width:60%;
    border-radius: 4px;
    margin: 0 0 16px;
}

.member-list p{
    margin:15px 0;
}  

/* Tour */
#Tour{
    background-color: #000;
}

.tour-content > h2,
.tour-content > p{
    color: #fff;
}

/* Tour-list */
.tours-list{
    background-color: #fff;
    color: #757575;
}

    .tour-month{
        padding: 8px 16px;
        border: 1px solid #ddd!important;
    }

    .sold-out{
        background-color: #f44336;
        color: #fff;
        margin-left: 16px;
        padding: 4px 8px;
    }

    .quantity{
        background-color: #000;
        color: #fff;
        border-radius: 50%;
        padding: 0px 8px;
        margin-right: 16px;
        float: right;
        text-align: center;
        margin-top: -1px;
    }

/* Tour-info */
.tours-info{
    padding: 32px 8px;
    margin: 0 -16px;
}
    .tour-place{
        float:left;
        padding: 0 8px;
    }

        .tour-place img{
            width:100%;
            display:block;
        }
        .tour-place img:hover{
            opacity: 0.6;
        }

        .tour-place-info {
            padding: 0.15px 16px;
            background-color: #fff;
        }
            .tour-place-info h3,
            .tour-place-info p{
                margin: 15px 0;
            }
            .tour-place-dates{
                color: #000 !important;
                opacity: 0.6;
            }
            .tour-place-content,
            .tour-place-info h3{
                color: #000;
            }

            .buy-tickets-btn{
                margin: 0 0 16px;
                padding: 8px 16px;
            }
/* Contact */
.contact-content{
    padding: 32px 0;
}
    .contact-form{
    font-size: 15px;
    padding-right: 8px;
    padding-left: 8px;
    }

    .info-user{
        margin-bottom: 8px ;
    }

    #Contact .contact-info,
    #Contact .input-info{
        width: 50%;
        float:left;
    }
    
    .input-info .contact-name{
        width: 50%;
        float:left;
    }

    .form-input-control{
        padding: 9px;
        border: 1px solid #ccc;
        width: 100%;
    }

.contact-btn{
    padding: 8px 16px;
    margin: 16px 0;
    margin-right: 8px;
    float:right;
}

/* Map */
#map img{
    filter: grayscale(50%);
    width: 100%;
    height: auto;
    display: block;
}
/* Footer */
#Footer{
    padding: 64px 16px;
    text-align: center;
    opacity: 0.6 !important;
    background-color: #f1f1f1!important;
 }

    .footer-icon li{
        display: inline-block;
        font-size: 30px;
    }


    #Footer p{
        margin: 15px;
       }
