/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgb(221, 130, 130); */
    
}

.clear::after{
    content:"";
    clear:both;
    display: block;
}

/* Header */
#header{
    position: fixed;
    top:0;
    height: 46.5px;
    background-color: #000;
    width: 100%;
    z-index: 1;
}

.nav,
.search-btn{
    display: inline-block;
    }


/* Navigation: Thanh điều hướng */
li{
    list-style: none;
}

li a{
    text-decoration: none;
    font-size: 15px;
}

.nav>li>a{
    text-transform: uppercase;
    color:#fff;
    line-height: 46.5px;
    display: inline-block;
    padding: 0 24px;
}

.subnav>li>a{
    color:#000;
    padding: 8px 16px;
    display: block;
}

.nav>li{
    display: inline-block;
    position: relative;
}

.subnav{
    position:absolute;
    min-width: 160px;
    background-color: #fff;
    left:0;
    box-shadow: 0 0 10px #000;
    display: none;
}

.nav li:hover .subnav{
    display:block;
}

.subnav li:hover a,
.nav>li:hover >a{
    background-color: #ccc;
    color: #000;
}

/* Search Button */
.search-btn{
    line-height: 46.5px;
    float:right;
    padding:0 24px;
}

.search-btn i{
    color: #fff;
}

.search-btn:hover{
    background-color: #f44336!important;
}

/* Slider: Trình chiều hình ảnh */
#slider{
    position: relative;
    margin-top: 46.5px;
    padding-top: 50%;
    background:url('/assets/img/chicago.jpg') top center / cover no-repeat;
}

.slider-content{
    color: #fff;
    padding:32px 16px;
    position: absolute;
    transform: translateX(-50%);
    bottom:0;
    left:50%;
}

.slider-content h2{
    font-size: 24px;
    margin: 10px;
    text-align: center;
    font-weight:normal;
}

.slider-content p{
    font-size: 15px;
    margin: 15px;
    text-align: center;
    font-weight: bold;
}

/* Test lỗi Upload Github */